.owl-carousel > *,
.popup {
  background-repeat: no-repeat;
  background-position: center;
}

.owl-dots {
  display: none !important;
}

nav {
  transition: background-color 0.3s ease;
}

#bg1 {
  background-image: url("../assets/bg1.jpg");
  background-size: cover;
}

#bg2 {
  background-image: url("../assets/bg2.jpg");
  background-size: cover;
}

#bg3 {
  background-image: url("../assets/bg3.jpg");
  background-size: cover;
}

.logo {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 75px;
}
