.owl-carousel > *,
.popup {
  background-repeat: no-repeat;
  background-position: center;
}

.owl-dots {
  display: none !important;
}

#bg1 {
  background-image: url("../assets/bg1.jpg");
}

#bg2 {
  background-image: url("../assets/bg2.jpg");
}

#bg3 {
  background-image: url("../assets/bg3.jpg");
}
